# Web framework
fastapi==0.115.5
uvicorn[standard]==0.32.1

# Data validation
pydantic==2.10.3
pydantic-settings==2.6.1

# ML inference
lightgbm==4.5.0
numpy==2.1.3

# PE feature extraction (EMBER2024)
# thrember se instalează din GitHub  vezi Phase 4
pefile==2023.2.7

# Hugging Face (pentru download model)
huggingface-hub==0.26.2

# Dev
python-dotenv==1.0.1